
.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
.body {
    margin: 0 auto;
}
.header {
    position: relative;
    display: flex;
    min-height: 600px;
    max-height: 756px;
    height: 100vh;
    margin-bottom: 100px;
    background-color:  #f2f2f2;
    z-index: -3;
}
.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
}
.header__title {
    width: 730px;
    line-height: 96px;
    font-weight: bold;
    font-size: 102px;
    align-self: center;
    margin-left: 64px;
    z-index: -2;
}
.header__subtitle {
    width: 388px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    bottom: 30px;
    left: 64px;
    z-index: -1;
}
.header_link {
    color:#2f80ed;
    text-decoration: none;
}

.main-ilustration {
    width: 765px;
    height: 608px;
    position: absolute;
    z-index: 3;
    bottom: 0;
    right: 0;
}
.header_square-pic {
    width: 568px;
    height: 568px;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 64px;
    background:#2f80ed;
}
.description {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.two-columns {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.two-columns__span-accent {
    font-weight: bold;
}
.two-columns__brief {
    color:#2f80ed;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    width: 175px;
    line-height: 1.2;
}
.two-columns__main-text {
    width: 80%;
    min-width: 784px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}
.two-columns__paragraph:nth-child(4) {
    line-height: 34px;
    font-size: 24;
    font-weight: normal;
    margin: 0;
    margin-bottom: 30px;
}




.section-title {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    margin-top: 100px;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
}
.section-subtitle {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    margin-top: 20px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.table {
    padding-top: 100px;
    padding-left: 0;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 100px auto;
    list-style: none;
    margin-bottom: 100px;
    justify-content: space-between;
}
.table__cell {
    width: 250px;
}
.table__heading {
    padding-top: 60px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    margin: 0;
}
.table__text {
    margin-bottom: 0;
    margin-top: 20px;
    line-height: 1.12;
    font-size: 18px;
    font-weight: normal;
}
.feynman {
    min-height: 790px;
    position: relative;
    background-color:  #f2f2f2;
    z-index: -3;
}

.feynman__link {
    position: absolute;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    right: 48px;
    top: 50%;
    color: #2f80ed;
    text-decoration: none;
}
.feynman__image {
    position: absolute;
    width: 867px;
    height: 637px;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.feynman__title {
    margin: 0 auto;
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
}
.feynman__subtitle {
    text-align: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    margin-top: 70px;
}
.kaufman {
    overflow: hidden;
    position: relative;
    background-color: #1f1f1f;
    z-index: -2;
}

.section-title_theme_dark {
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 90px;
    color: white;
}
.section-subtitle_theme_dark {
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    color: white;
    margin-top: 20px;
}
.kaufman__triangle {
    position: absolute;
    z-index: -1;
    width: 877px;
    height: 877px;
    top: 0;
    right: -210px;
    background-size: contain;
    background-repeat: repeat;
    color: steelblue;
    background-image: url(../images/kaufman-triangle.svg);
}


.table__heading_theme_dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    color: white;
}

.table__text_theme_dark {
    line-height: 1.12;
    font-size: 18px;
    font-weight: normal;
    color: white;
}

.table__cell_theme_dark {
    padding-top: 80px;
    width: 200px;
}
.footer {
    box-sizing: border-box;
    min-height: 350px;
    background-color: #1f1f1f;
    padding-top: 60px;
}
.footer__columns {
    width: 90%;
    display: flex;
    flex-basis: 711px;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 40px;
}
.logo_place_footer {
    width: 183px;
    height: 35px;
    
}
.footer__column-heading {
    margin: 0px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.footer__autor {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 18px;
    color: white;
    margin-top: 110px;
    margin-bottom: 0px;
}


.footer__column-links {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    margin-top: 20px;
    margin-bottom: 16px;
    text-decoration: none;
}
.footer__column-link {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    margin-top: 20px;
    margin-bottom: 16px;
    text-decoration: none;
}
.footer__social-icon {
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    text-decoration: none;
}
.footer-ul{
    list-style: none;
}

